* {
	font-family: Arial, sans-serif;
}

body {
	padding: 0px!important;
	margin: 0px!important;
	background-color: linen;
	color: dimgrey;
}

header {
	position: absolute;
	top: 0px;
	width: 100%;
	background-color: #444;
	color: yellowgreen;
	margin: 0px;
	padding: 0px;
}

#main {
	margin-top: 100px;
	margin-bottom: 150px;
}

#listWrapper {
	width: 250px;
	float: left;
}

#cardWrapper {
	margin: auto;
	padding: 15px;
	max-width: 450px;
	text-align: center;
}

#card {
	box-shadow: 1px 1px 5px grey;
	background-color: #fff;
	color: #000;
	font-size: xx-large;
}

#question {
	padding: 15px;
}

#answer {
	border-top: dashed grey 1px;
	padding: 15px;
}

#explain {
	border-top: dashed grey 1px;
	padding: 15px;
}

#flashCardButtons {
	padding: 15px;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.menu {
	list-style-type: none;
}
.menu li {
	display: inline-block;
	margin: 5px;
}
.menu li a {
	padding: 10px;
	background-color: #999;
	text-decoration: none;
}

.btn {
	cursor: pointer;
	display: inline-block;
	background-color: #ccc;
	margin: 5px;
	padding: 5px 15px;
	font-weight: bold;
	font-size: large;
	box-shadow: 1px 1px 3px black;
}
.btn:hover {
	background-color: #eee;
}
.btn-yes {
	color: green;
}

.btn-maybe {
	color: yellow;
}

.btn-no {
	color: red;
}

footer {
	background-color: dimgrey;
	color: white;
	position: fixed;
	bottom:0px;
	width: 100%;
}

a {
	color: white;
}
a:hover {
	color: grey;
}

/* for card */
.pointer {
	cursor: pointer;
}

/* for validation warning */
.redText {
  color: red;
}

/*
grey
#333027
dimgrey
darkgrey

eggshell
#f7f3da
antiquewhite
floralwhite
linen

lightgreen
#8ff20c
chartreuse
yellowgreen
greenyellow

darkgreen
#2ab51d
green
forestgreen
darkgreen
*/
