<div>
	<p>
		{{home.message}}
	</p>

	<div id="listWrapper">
		<ul>
			<li ng-repeat="section in home.sections">
				{{section.name}}
				<ul>
					<li
						ng-repeat="subSection in section.subSections"
						ng-click="home.load(section.name + '.' + subSection.name)">
						{{subSection.name}}
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div id="cardWrapper">
		<div id="flashCardButtons" ng-show="home.deckSelected">
			<a class="btn btn-yes" type="button" value="know" ng-click="home.nextCard('know')">know</a>
			<a class="btn btn-maybe" type="button" value="not sure" ng-click="home.nextCard('notSure')">not sure</a>
			<a class="btn btn-no" type="button" value="don't know" ng-click="home.nextCard('dontKnow')">don't know</a>
		</div>
		<div id="card" class="pointer">
			<div id="question" ng-click="home.toggleShowCard()">
				{{ home.card.question }}
			</div>
			<div id="cardBack" ng-show="home.showingCard" ng-click="home.toggleShowCard()">
				<div id="answer">
					{{ home.card.answer }}
				</div>
				<div id="explain">
					{{ home.card.explain }}
				</div>
			</div>
		</div>
	</div>

</div>
