<div>
	<p>
		{{test}}
	</p>

	<ul>
		<li ng-repeat="section in sections">
			{{section.name}}
			<ul>
				<li
					ng-repeat="subSection in section.subSections"
					ng-click="load(section.name + '.' + subSection.name)">
					{{subSection.name}}
				</li>
			</ul>
		</li>
	</ul>

	<div>
		<div ng-click="load('one')">test load</div>
	</div>

	<div id="card">
		<div id="question" ng-click="toggleShowCard()" class="pointer">
			{{card.question}}
		</div>
		<div class="slide" ng-show="showingCard">
			<div id="answer">
				{{card.answer}}
			</div>
			<div id="explain">
				{{card.explain}}
			</div>
		</div>
	</div>

	<input type="button" value="next" ng-click="nextCard()">

</div>
